@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1581514152133'); /* IE9 */
  src: url('iconfont.eot?t=1581514152133#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALIAAsAAAAABpQAAAJ6AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBIIEqATYCJAMICwYABCAFhG0HLxvPBREVjD+yHwc52ZP5JdKYwh5hyREl+jke/n+uvC/5mc0kBVZIUT2VC6wKjMevLajWrquscRVmZQFRTwFmbk3HcG9UhOpa51vP8h350e40rPM4jVIIiZBgwDHTJdBA8oDmEtUUWRSA4wENMKpoZP9Cb/zD2E0EDuE8gcp8jRgeXb9dKQHTAnH+zKkjypxbkqxYKbRq1iZxS6HMbmQTuMl/P75aGyWZIgcKNp8cOa7/ww+YkOuwnxJ4CNrmAjkaJGJ7bXijXFi0XLU9WYwkCT78Ox3dJPaqF9a/DmRPAnNVwT0JsehWx2Ygoe3OOwdGuWknIJ2Eis9t7d6yvVKfwofv2Li5Z/eWvq276qiO3ru3/f79HQ8f7nrwYH/+0Z0923p37RjvXHX1cP/hRWMDBwZ+LZh6Y6Jx49l4c6NcELc3x/nz2RbIpbbNsSXlEZ5quDK3X0bnhH7gz/Kj2QuB4DX3jx2a2v2/rBN40s6/w3WJ5qI8kTP4YcKebSkUA2OWfGFtPNNo30hNpUKHbpxhD3GYfXe2UOaEFjJd5iFXWkpM1AaF2jq0lPpQWYNYbK7NRPYitbHaS0GY5o3MFHeRm+ZDTNQvCnP80DIt9qjsjJl71paHEUOEJWMD1RNMPY0SmVmI3AOqa19SVszpF6TV+MC1nGKswBFpjgXrTXnMEiRNA+TKZdj3E8w0tVizpZnnzLZl3Zeseho2whCCSgw1QOUJGLXJSNLeTJR+/gApV70StbQMOC8QWZnBgcvi9CAWirFXy718srpRPIxJQCKTAciVUajXm4C5flQL1ZhFjwjOMjbsJvsqrPVVw9ftgwrQZgGH5IojxgudzQYAAA==') format('woff2'),
  url('iconfont.woff?t=1581514152133') format('woff'),
  url('iconfont.ttf?t=1581514152133') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1581514152133#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ai250:before {
  content: "\e6ee";
}

